/* Layout */

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.grid.gap {
	gap: 10px;
}

.grid.container {
	margin-left: 8.3%;
	margin-right: 8.3%;
}

.grid-item-12 {
	grid-column-start: span 12;
}

.grid-item-11 {
	grid-column-start: span 11;
}

.grid-item-10 {
	grid-column-start: span 10;
}

.grid-item-9 {
	grid-column-start: span 9;
}

.grid-item-8 {
	grid-column-start: span 8;
}

.grid-item-7 {
	grid-column-start: span 7;
}

.grid-item-6 {
	grid-column-start: span 6;
}

.grid-item-5 {
	grid-column-start: span 5;
}

.grid-item-4 {
	grid-column-start: span 4;
}

.grid-item-3 {
	grid-column-start: span 3;
}

.grid-item-2 {
	grid-column-start: span 2;
}

.grid-item-1 {
	grid-column-start: span 1;
}

@media only screen and (max-width: 50em) {
	.responsive {
		grid-column-start: span 12;
	}
}

.flex-row {
	grid-column-start: span 12;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.flex-item-3 {
	width: calc(33.3% - 6.66px);
}
