/* Text */

body {
	font: normal 14px Verdana;
	margin: 0px;
}

h1 {
	font: bold 36px Verdana;
	margin-top: 0px;
	margin-bottom: 2.5px;
}

h2 {
	font: bold 24px Verdana;
	margin-top: 0px;
	margin-bottom: 2.5px;
}

h3 {
	font: bold 21px Verdana;
	margin-top: 0px;
	margin-bottom: 2.5px;
}

h4 {
	font: bold 18px Verdana;
	margin-top: 0px;
	margin-bottom: 2.5px;
}

h5 {
	font: bold 14px Verdana;
	margin-top: 0px;
	margin-bottom: 2.5px;
}

h6 {
	font: normal 18px Verdana;
	margin-top: 0px;
	margin-bottom: 2.5px;
}

p {
	word-wrap: break-word;
	overflow-wrap: anywhere;
	margin-top: 0px;
	margin-bottom: 2.5px;
}

a {
	color: black;
	text-decoration: none;
}


/* Media */

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}


/* Forms */

textarea {
	border: 2px solid black;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	font: normal 14px Verdana;
	resize: vertical;
	padding: 5px;
	box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
	border: 2px solid black;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	font: normal 14px Verdana;
	cursor: pointer;
}

button {
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
	font: normal 14px Verdana;
	cursor: pointer;
}

button:hover {
	background-color: #CCCCCC;
}

button:active {
	background-color: #757575;
}

input[type=text] {
	width: 100%;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
	font: normal 14px Verdana;
}

/* Objects */

.panel {
	background-color: #CDCDCD;
	border-radius: 15px;
	padding: 15px;
	box-sizing: border-box;
	box-shadow: 2px 2px #E3E3E3 inset;
	width: 100%;
	height: 100%;
}

.panel.link:hover {
	box-shadow: 2px 2px #E3E3E3 inset, 2px 2px #868686;
}

.panel.link:active {
	box-shadow: 2px 2px #868686 inset, 2px 2px #E3E3E3;
}

.pill {
	background-color: #939393;
	border-radius: 2em;
	padding: 2px 5px 2px 5px;
	box-sizing: border-box;
}


/* Misc. */

header {
	background-image: linear-gradient(#E3E3E3, #CDCDCD);
	margin-bottom: 10px;
}
