{% extends "posts/base.html" %}

{% block head %}
	<title>Home | Ceilid</title>
{% endblock %}

{% block body %}
	<div class="grid gap container">
		<div class="grid-item-12">
			{% include "posts/includes/image_header.html" with title="Ceilid" subtitle="The Local Internet Forum" %}
		</div>
		<div class="grid-item-12">
			<h2>About Ceilid</h2>
		</div>
		<div class="grid-item-12">
			<ul>
				<li><h6>Talk with others in your local area. Users share news, tips, opinions, and more.</h6></li>
				<br>
				<li><h6>Thinking of moving to a new place? Check out its page to get info directly from its residents.</h6></li>
				<br>
				<li><h6>Want to talk about national news? Check out your country's page!</h6></li>
				<br>
				<li><h6>Wish there was a page someplace? Start a post on the Ceilid HQ page.</h6></li>
			</ul>
		</div>
		<div class="grid-item-12" style="text-align: center;">
			<a href="{% url 'posts-tavern_list' %}">
				<button>Get Started</button>
			</a>
		</div>
		<div class="grid-item-12">
		</div>
	</div>
{% endblock %}
