<header class="grid">
	<div class="grid-item-12">
		<div class="grid  gap container">
			<div class="grid-item-10">
				<h2><a href="{% url 'home-index' %}">Ceilid</a></h2>
			</div>
			<div class="grid-item-1" style="text-align: right">
				<h3><a href="{% url 'cms-post-list' %}">News</a></h3>
			</div>
			<div class="grid-item-1" style="text-align: right">
				<h3><a href="{% url 'posts-tavern_list' %}">Browse</a></h3>
			</div>
		</div>
	</div>
</header>
