<div class="grid">
	<div class="grid-item-8" style="grid-column: 1 / span 8; grid-row: 1;">
		<h1>{{ title  }}</h1>
		<h6>{{ subtitle }}</h6>
	</div>
	<div class="grid-item-8" style="grid-column: 5 / span 8; grid-row: 1; z-index: -1;">
		<img src="{{ tavern.image.url }}" alt="{{ tavern.name }}">
	</div>
	<div class="grid-item-8" style="grid-column: 5 / span 8; grid-row: 1; z-index: -1; background-image: linear-gradient(to right, #ffffffff 25%, #ffffff00)">
	</div>
</div>
