<div class="grid">
	<div class="grid-item-5">
	</div>
	<div class="grid-item-2" style="text-align: center;">
		{% if page.has_previous %}
			<a href="?page={{ page.previous_page_number }}">
				<button>Previous</button>
			</a>
		{% endif %}

		<h6 style="display: inline;">{{ page.number }}</h6>

		{% if page.has_next %}
			<a href="?page={{ page.next_page_number }}">
				<button>Next</button>
			</a>
		{% endif %}
	</div>
</div>
