<form action="" method="post" class="grid gap">
	{% csrf_token  %}
	<div class="grid-item-12">
		{{ comment_form  }}
	</div>
	{% include "captcha/captcha.html" with captcha=captcha_form %}
	<div class="grid-item-12" style="text-align: center;">
		<button>Post</button>
	</div>
</form>
