<form action="" method="post" class="grid gap">
	{% csrf_token  %}
	<div class="grid-item-12">
		{{ post_create_form.as_p }}
	</div>
	{% include "captcha/captcha.html" with captcha=captcha_form %}
	<div class="grid-item-5"></div>
	<div class="grid-item-2" style="text-align: center;">
		<button>Post</button>
	</div>
</form>
