<form action="/taverns" method="get" class="grid gap">
	<div class="grid-item-11">
		{{ search_form  }}
	</div>
	<div class="grid-item-1">
		<button style="width: 100%;">Search</button>
	</div>
</form>
