<div class="grid-item-12" style="text-align: center;">
	<img src="data:image/png;base64,{{ captcha.image_data }}" style="width: 20%; border: 2px solid black;"> 
</div>
<div class="grid-item-12">
	{{ captcha.as_p }}
</div>
