{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'posts/styles/layout.css' %}">
		<link rel="stylesheet" href="{% static 'posts/styles/theme.css' %}">
		{% block head  %}
		{% endblock  %}
	</head>
	</body>
		{% include "posts/includes/header.html" %}
		{% block body  %}
		{% endblock  %}
	</body>
</html>
