{% extends "posts/base.html"  %}

{% block head  %}		
	<title>{{ post.title }} | Ceilid</title>
{% endblock  %}

{% block body  %}
	<div class="grid container gap">
		{% if post.archived %}
			<div class="grid-item-12">
				<h3 style="text-align: center;">Archived</h3>
			</div>
		{% endif %}
		<div class="grid-item-12">
			<div class="panel">
				<div class="grid">
					<div class="grid-item-4">
						<h5>{{ post.created_at | date:"g:i a, M. j, Y"  }}</h5>
					</div>
					<div class="grid-item-4"></div>
					<div class="grid-item-4">
						<h5 style="text-align: right;">#{{ post.id }}</h5>
					</div>
					<div class="grid-item-12">
						<h1>{{ post.title }}</h1>
					</div>
					<div class="grid-item-12">
						<p>{{ post.content | linebreaksbr }}</p>
					</div>
				</div>
			</div>
		</div>
		
		{% for comment in comments  %}
		<div class="grid-item-12">
			<div class="panel" id="{{ comment.id }}">
				<div class="grid">
					<div class="grid-item-4">
						<h5>{{ comment.created_at | date:"g:i a, M. j, Y"  }}</h5>
					</div>
					<div class="grid-item-4"></div>
					<div class="grid-item-4">
						<a href="#{{ comment.id }}" style="color: black; text-decoration: none;"><h5 style="text-align: right;">#{{ comment.id }}</h5></a>
					</div>
					<div class="grid-item-12">
						<p>{{ comment.content | linebreaks }}</p>
					</div>
				</div>
			</div>
		</div>
		{% endfor  %}		

		{% if not post.archived %}
			<div class="grid-item-12">
				{% include "posts/forms/comment_form.html" %}
			</div>
		{% else %}
			<div class="grid-item-12">
				<h3 style="text-align: center;">Archived</h3>
			</div>
		{% endif %}
	</div>
{% endblock  %}
