{% extends "posts/base.html"  %}

{% block head  %}		
	<title>New Post | {{ tavern.name }} | Ceilid</title>
{% endblock  %}

{% block body  %}
	<div class="grid container">
		<div class="grid-item-12">
			{% include "posts/includes/image_header.html" with title=tavern.name subtitle=tavern.description %}
		</div>
		<div class="grid-item-12">
			<h2>New Post</h2>
		</div>
		<div class="grid-item-12">
			{% include "posts/forms/post_create_form.html" %}
		</div>
	</div>
{% endblock  %}
