{% extends "posts/base.html"  %}

{% block head  %}		
	<title>Taverns | Ceilid</title>
{% endblock  %}

{% block body  %}
	<div class="grid gap container">
		<div class="grid-item-12">
			<h1>Taverns</h1>
		</div>
		<div class="grid-item-12">
			{% include "posts/forms/search.html" %}
		</div>

		{% for tavern in taverns  %}
		<div class="grid-item-12">
			<a href="{% url 'posts-tavern' tavern.id %}">
				<div class="panel link">
					<h4>{{ tavern.name }}</h4>
					<p>{{ tavern.description | truncatechars:256 }}</p>
				</div>
			</a>
		</div>
		{% endfor  %}	

		<div class="grid-item-12">
			{% include "posts/includes/page_navigator.html" with page=taverns %}
		</div>
	</div>
{% endblock  %}
