{% extends "posts/base.html"  %}

{% block head  %}		
	<title>{{ tavern.name }} | Ceilid</title>
{% endblock  %}

{% block body  %}
	<div class="grid gap container">
		<div class="grid-item-12">
			{% include "posts/includes/image_header.html" with title=tavern.name subtitle=tavern.description %}
		</div>
		<div class="grid-item-6">
			<h2>Latest Posts</h2>
		</div>
		<div class="grid-item-6" style="text-align: right;">
			<a href="{% url 'posts-post_create' tavern.id %}">
				<button>New Post</button>
			</a>
		</div>
		<div class="grid-item-12">
			<div class="grid gap" style="grid-auto-rows: 1fr;">
				{% for post in posts  %}
				<div class="grid-item-4 responsive">
					<a href="{% url 'posts-post' tavern.id post.id %}">
						<div class="panel link">
							<div class="grid">
								<div class="grid-item-8">
									<p style="display: inline;">{{ post.created_at | date }}</p>
									{% if post.archived %}
										<span class="pill">Archived</span>
									{% endif %}
								</div>
								<div class="grid-item-4">
									<p style="text-align: right;">#{{ post.id }}</p>
								</div>
								<div class="grid-item-12">
									<h5>{{ post.title }}</h5>
								</div>
								<div class="grid-item-12">
									<p>{{ post.content | truncatechars:128 }}</p>
								</div>
							</div>
						</div>
					</a>
				</div>
				{% endfor  %}	
				{% if not posts %}
					<div class="grid-item-12">
						<p>No Posts Yet. Be The First!</p>	
					</div>
				{% endif %}
			</div>
		</div>
		<div class="grid-item-12">
			{% include "posts/includes/page_navigator.html" with page=posts %}
		</div>
	</div>
{% endblock  %}
