{% extends "posts/base.html"  %}

{% block head  %}		
	<title>News | Ceilid</title>
{% endblock  %}

{% block body  %}
	<div class="grid gap container">
		<div class="grid-item-12">
			<h1>Recent Announcements</h1>
		</div>

		{% for post in posts  %}
		<div class="grid-item-12">
			<a href="{% url 'cms-post' post.slug %}">
				<div class="panel link">
					<h4>{{ post.title }}</h4>
					<p>{{ post.content | striptags | truncatechars:256 }}</p>
				</div>
			</a>
		</div>
		{% endfor  %}	
		{% if not posts %}
			<div class="grid-item-12">
				<p>No Announcements Yet</p>
			</div>
		{% endif %}

		<div class="grid-item-12">
			{% include "posts/includes/page_navigator.html" with page=posts %}
		</div>
	</div>
{% endblock  %}
