{% extends "posts/base.html" %}

{% block head %}
	<title>{{ post.title }} | Ceilid</title>
{% endblock %}

{% block body %}
	<div class="grid container">
		<div class="grid-item-12">
			<h1>{{ post.title }}</h1>
		</div>
		<div class="grid-item-12">
			<h5>{{ post.created_at }}</h5>
		</div>
		<div class="grid-item-12">
			<br>
			{% autoescape off %}
				{{ post.content }}
			{% endautoescape %}
		</div>
	</div>
{% endblock %}
